.player
  position: relative
  display: inline-block
  size: 50vw 100vh

  &:first-child
    background-color: #303f9f
    & [class ^= gesture]
      transform: rotate(90deg)
  &:last-child
    background-color: #d32f2f
    & [class ^= gesture]
      transform: rotate(-90deg) scaleX(-1)

GESTURES = ('rock' 'paper' 'scissors')

[class ^= gesture]
  absolute: top 10vh left 0 right 0
  size: 250px
  margin: auto
  padding: 2rem
  border: 10px solid white
  border-radius: 100%

  & svg
    fill: white

for i in (0..2)
  .gesture-{GESTURES[i]}
    $url = '../images/gesture-' + GESTURES[i] + '.svg'
    background-image: url($url)


.winner
  absolute: left 0 right 0 bottom 25vh
  font-size: 4rem
  text-align: center
