$GESTURES = getDefinedValue('gestures')
$NEED_WINS = getDefinedValue('need_wins')

.player
  position: relative
  display: inline-block
  size: 50vw 100vh
  transition: all ease .2s

  &:first-child
    background-color: #303f9f
    .records
      absolute: left 0

  &:last-child
    background-color: #d32f2f
    .records
      absolute: right 0

for i in (-1 * $NEED_WINS .. $NEED_WINS)
  .game.battle-{i}
    $player1Width = (50 + i * (100 / ($NEED_WINS * 2)))vw
    $player2Width = 100vw - $player1Width
    .player:first-child
      width: $player1Width
    .player:last-child
      width: $player2Width

[class ^= gesture]
  absolute: top 10vh left 0 right 0
  size: 250px
  margin: auto
  padding: 2rem
  border: 10px solid white
  border-radius: 100%

for i in (0..2)
  .gesture-{$GESTURES[i]}
    $url = '../images/gesture-' + $GESTURES[i] + '.svg'
    background-image: url($url)

.game:not(.new):not(.end)
  .player:first-child [class ^= gesture]
    transform: rotate(90deg)
  .player:last-child [class ^= gesture]
    transform: rotate(-90deg) scaleX(-1)

.icon-crown
  display: inline-block
  size: 48px
  margin: auto .5rem
  background-image: url('../images/crown.svg')
