@import './reset.styl';

body
  size: 100vw 100vh
  color: #fff
  background: #333

.status-button
  absolute: left 0 right 0 bottom 10vh
  size: 150px
  margin: auto
  border-radius: 100%
  font-size: 2rem
  background-color: #009688
  transition: all ease .1s
  &:active
    background-color: #00796b

.start .status-button
  background-color: #e91e63
  &:active
    background-color: #c2185b

.end .status-button
  background-color: #8bc34a
  &:active
    background-color: #689f38
